

@model IEnumerable<Product>
@{
	Layout = "_Layout";
}

<table class="table table-sm table-striped">
	<thead>
	<tr>
		<th> Name </th>
		<th> Category </th>
		<th> Price </th>
	</tr>
	</thead>
	<tbody>
	@foreach(var t in Model)
	{
		<tr>
			<td> @t.Name </td>
			<td> @t.Category </td>
			<td> @t.Price </td>
			<td>
				<form asp-action="Delete" method="post">
					<a asp-action="Edit" asp-route-id="@t.Id">Edit</a>
					<button type="submit">Delete</button>
						
				</form>
			</td>
		</tr>
	}
	</tbody>
</table>

<a asp-action="Create">Create</a>